<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vuls Deployer</title>
  </head>
  <body>
    <h1>Vuls Deployer</h1>
    <form method="POST" action="/generate-playbook">
      <label for="vulnerabilities">Select vulnerabilities to deploy:</label><br>
      {{ range . }}
      <input type="checkbox" name="vulnerabilities" value="{{ .ID }}"> {{ .Name }}<br>
      {{ end }}
      <br>
      <input type="submit" value="Generate Ansible playbook">
    </form>
  </body>
</html>